<!DOCTYPE html>
<html>

<head>
    <title>MyBlog</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <style>
        .bq {
            background: url("/static/image/p2.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
        }

        td {
            text-align: center;
        }

        th {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center bq" style="margin-bottom:0 ">
        <h1>SMILES&STYLISH</h1>
        <p>程序不是年轻的专利，但是，他属于年轻。</p>
    </div>

    <div class="container">
        <h1>天气预报七日榜</h1>

        <hr>

    </div><br>

    <div class="container">
        <div class="row">

            <table class="table table-striped">

                <tr>
                    <th>城市</th>
                    <th>日期</th>
                    <th>天气</th>
                    <th>最高气温</th>
                    <th>最低气温</th>

                </tr>

                {% for wh in weathers_list %}
                <tr>
                    <td>{{wh.city}}</td>
                    <td>{{wh.day}}</td>
                    <td>{{wh.weather}}</td>
                    <td>{{wh.temperature_high}}</td>
                    <td>{{wh.temperature_lower}}</td>
                </tr>
                {%endfor%}

            </table>


        </div>
        <hr>


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright &copy; Joneyw</span>
                    <span>. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>